.app {
	background-color: antiquewhite;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	text-align: center;
	border-radius: 20px;
	background-color: rgb(255, 213, 151);
	min-width: 200px;
	min-height: 100px;
}
